<h1>Sample App</h1>
<p>Hi <%= @user.name %>,</p>
<p>
Welcome to the Sample App! Click on the link below to activate your account:
</p>
<%= link_to "Update email", email_update_api_v1_user1_users_url(token: @user.confirmation_token, email: @user.email) %>